html {
  font-size: 11px;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
  line-height: 1.6;
  text-align: center;
  font-size: 1.7rem;
  color: rgb(133, 133, 133);
  margin: 0;
}

h1 {
  margin-bottom: 1;
  font-size: 4rem;
}
