html {
  font-size: 11px;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", "Roboto", sans-serif;
  line-height: 1.6;
  text-align: center;
  font-size: 1.7rem;
  color: rgb(133, 133, 133);
  margin: 0;
}

h1 {
  margin-bottom: 1;
  font-size: 2.7rem;
}

h2 {
  font-size: 3rem;
}

a {
  color: #389ef1;
}

a:visited {
  color: #9d65f7;
}

#title {
  font-size: 3.5rem;
  line-height: 1.2;
}

#main {
  margin: 25px 5px;
  padding: 20px;
  border-radius: 5px;
  background: rgb(224, 224, 224);
}

#tribute-info {
  margin: 0%;
  padding: 0%;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: rgb(209, 209, 209);
  padding: 10px;
  margin: 5;
}

#img-caption {
  margin: 16px 0 6px 0;
  font-size: 1.6rem;
}

#caption {
  font-style: italic;
  font-weight: bold;
}
p {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 30px auto;
  text-align: justify;
}

h5 {
  font-style: italic;
  margin: 0 auto 50px auto;
  text-align: center;
}
